.dialogs {
    display: flex;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}
.dialogsItems {
    padding: 10px;
    color: white;
}
.dialogsItems .active {
    color: gold;
}
.messages {
    padding: 10px;
    color: rgb(70, 131, 104);
}
.messages .message {
    color: white;
}